modules = ["python-3.11", "python3"]

[nix]
channel = "stable-24_05"
packages = ["cacert", "freetype", "glibcLocales", "lcms2", "libimagequant", "libjpeg", "libsodium", "libtiff", "libwebp", "libxcrypt", "nettle", "openjpeg", "openssh", "openssl", "postgresql", "proj", "tcl", "tk", "zlib"]

[deployment]
deploymentTarget = "autoscale"
run = ["gunicorn", "--bind", "0.0.0.0:5000", "main:app"]

[[ports]]
localPort = 5000
externalPort = 80

[workflows]
runButton = "Discord Bot"

[[workflows.workflow]]
name = "Discord Bot"
author = 42389034
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python run_discord_on_replit.py"
